/EDArch/obj
/EDArch/bin
/EDArch.API/obj
/EDArch.API/bin
/EDArch.Base/obj
/EDArch.Base/bin
/EDArch.Dominio/obj
/EDArch.Dominio/bin
/EDArch.MassTransit/bin
/EDArch.MassTransit/obj
/Receptor/obj
/Receptor/bin
/Receptor.API/bin
/Receptor.API/obj
/Receptor.Dominio/bin
/Receptor.Dominio/obj
/Receptor1/bin
/Receptor1/obj
/.vs/EDArch/v15
